<div class="modal-header">
    <div class="text-center">
        <h2>Add Documents</h2>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-responsive table-bordered">
                <thead>
                <tr>
                    <th>Doc Name</th>
                    <th>Type</th>
                    <th>Stamp</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="doc in docsInfo">
                    <td>{{doc.name}}</td>
                    <td>{{doc.type.name}}</td>
                    <td>{{doc.stampType.name}}</td>
                    <td>{{doc.points}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div>
        <!--Chose Stamp Apply To All Or Selected -->
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 style="display: inline" class="highlight">Add Stamp Type</h4>
                <div>
                    <br>
                    <label class="ui-radio">
                        <input type="radio" name="stampOption"
                               data-ng-model="docs.stampOption"
                               value="applyToAll">
                        <span>Apply to All</span>
                    </label>
                    <label class="ui-radio">
                        <input type="radio" name="stampOption"
                               data-ng-model="docs.stampOption"
                               value="applyToSelected">
                        <span>Apply to Selected</span>
                    </label>
                </div>
            </div>
        </div>
        <br>
        <!--Select Stamp Apply To All -->
        <div data-ng-if="docs.stampOption == 'applyToAll'" class="row">
            <div class="col-sm-4 col-sm-offset-3">
                <select chosen
                        class="form-control"
                        data-ng-options="stamp.name for stamp in stamps track by stamp.id"
                        data-ng-model="docs.stampTypeAll"
                        placeholder-text-single="'Select Stamp'">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary" data-ng-click="applyToAllStamp()" data-ng-disabled="!docs.stampTypeAll">Apply</button>
            </div>
            <br><br>
        </div>
        <!--Select Stamp and Document Apply to selected-->
        <div data-ng-if="docs.stampOption == 'applyToSelected'" class="row">
            <div class="col-sm-3 col-sm-offset-1">
                <select chosen
                        class="form-control"
                        data-ng-options="stamp.name for stamp in stamps track by stamp.id"
                        data-ng-model="docs.stampTypeSelected"
                        placeholder-text-single="'Select Stamp'">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-sm-5">
                <select multiple chosen
                        class="form-control"
                        data-ng-options="document as document.docName for document in docsInfo"
                        data-ng-model="docs.selectedDocsS"
                        placeholder-text-multiple="'Search or Select Docs'">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" data-ng-click="applyToSelectedStamp()"
                        data-ng-disabled="!docs.selectedDocsS || !docs.stampTypeSelected">Apply</button>
            </div>
        </div>
        <br><br>
        <!--Chose If Apply To All Or Selected -->
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 style="display: inline" class="highlight">Add Points</h4>
                <div>
                    <br>
                    <label class="ui-radio">
                        <input type="radio" name="pointsOption"
                               data-ng-model="docs.pointsOption"
                               value="applyToAll">
                        <span>Apply to All</span>
                    </label>
                    <label class="ui-radio">
                        <input type="radio" name="pointsOption"
                               data-ng-model="docs.pointsOption"
                               value="applyToSelected">
                        <span>Apply to Selected</span>
                    </label>
                </div>
            </div>
        </div>
        <br>
        <!--Select Points Apply to All-->
        <div data-ng-if="docs.pointsOption == 'applyToAll'">
            <div class="col-sm-4 col-sm-offset-3">
                <input class="form-control" type="number" data-ng-model="docs.points" placeholder="# Points">
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary" data-ng-click="applyToAllPoints()" data-ng-disabled="!docs.points">Apply</button>
            </div>
            <br><br>
        </div>
        <!--Select Points Apply to Selected-->
        <div data-ng-if="docs.pointsOption == 'applyToSelected'">
            <div class="col-sm-3 col-sm-offset-1">
                <input class="form-control" type="number" data-ng-model="docs.points" placeholder="# Points">
            </div>
            <div class="col-sm-5">
                <select multiple chosen
                        class="form-control"
                        data-ng-options="document as document.docName for document in docsInfo"
                        data-ng-model="docs.selectedDocsP"
                        placeholder-text-multiple="'Search or Select Docs'">
                    <option value=""></option>
                </select>
            </div>
            <div>
                <button type="button" class="btn btn-primary" data-ng-click="applyToSelectedPoints()"
                        data-ng-disabled="!docs.selectedDocsP || !docs.points">Apply</button>
            </div>
            <br><br>
        </div>
    </div>
    <br><br>
    <div data-ng-if="docs.multipleChoice" class="row">
        <div class="text-center">
            <h4 class="highlight" style="display: inline">Looks like you added Multiple Choice Docs...</h4>
            <br>
            <h4>Please upload the answer key for each document. If you don't have it now, you can always
            go back to Mark's Box and added it later.</h4>
        </div>
        <br>
        <div class="col-sm-10 col-sm-offset-1 table-responsive">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>Doc Name</th>
                        <th>Stamp</th>
                        <th>Answer Key</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat=" doc in docsInfo " data-ng-if="doc.stampType.name == 'Multiple Choice'">
                        <td >{{doc.name}}</td>
                        <td >{{doc.stampType.name}}</td>
                        <td class="text-center" >
                            <input type="file" name="file,{{$index}}"  title="Add Key" data-ui-file-upload
                                   class="btn btn-danger" onchange="angular.element(this).scope().uploadFile(this.files,this.name)" >
                        </td>
                        <td >{{doc.points}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-ng-click="$close()" class="btn btn-primary" data-ng-disabled="!dataValid">Save
    </button>
    <button type="button" data-ng-click="$dismiss()" class="btn btn-danger">Close</button>
</div>
