<div class="modal-header">
    <div class="row">
        <div class=" text-center col-sm-6 col-sm-offset-3">
            <h2>Period: {{classInfo.period}} | Class: {{classInfo.name}}</h2>
        </div>
    </div>
</div>
<div class="modal-body animated">
    <div class="row">
        <h3 class="text-center"><span class="highlight">Quick Stats</span></h3>
        <br>
        <div class="col-sm-10 col-sm-offset-1">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th class="text-center ">Avg Grade </th>
                    <th data-ng-repeat="breakdown in classInfo.grade_breakdown">
                        {{breakdown.name}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center">
                    <td>
                        <span class="pull-left" data-ng-class="toLetter(gradeInfo.avgs.grade)  === 'A' || toLetter(gradeInfo.avgs.grade)  == 'B' ? 'highlight-success': toLetter(gradeInfo.avgs.grade)  === 'C' ? 'highlight-warning' : 'highlight-danger'">
                            {{toLetter(gradeInfo.avgs.grade)  }}
                        </span>
                        <span class="pull-right" data-ng-class="toLetter(gradeInfo.avgs.grade)  === 'A' || toLetter(gradeInfo.avgs.grade)  == 'B' ? 'highlight-success': toLetter(gradeInfo.avgs.grade)   === 'C' ? 'highlight-warning' : 'highlight-danger'">
                            {{gradeInfo.avgs.grade | number : 2 }}
                        </span>
                    </td>
                    <td data-ng-repeat="breakdown in classInfo.grade_breakdown">
                        <span data-ng-class="gradeInfo.avgs[breakdown.id] > 80? 'highlight-success': gradeInfo.avgs[breakdown.id] < 70? 'highlight-danger': 'highlight-warning'">
                            {{gradeInfo.avgs[breakdown.id] | number : 2}}%
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
    <div class="row">
        <h3 class="text-center"><span class="highlight">Students</span></h3>
        <br>
        <div class="col-sm-6 col-sm-offset-3">
            <form>
                <input type="text"
                       placeholder="Search Student..."
                       class="form-control"
                       data-ng-model="search.student"
                       typeahead="studentInfo.student.user.first_name +' ' + studentInfo.student.user.last_name for studentInfo in classInfo.students | filter:$viewValue | limitTo:8">
            </form>
            <br>
        </div>

        <div class="col-sm-12">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>
                        Picture
                    </th>
                    <th>
                        ID
                            <span class="fa fa-angle-down"
                                  data-ng-click="sortBy='id'; reverse =!reverse"></span>
                    </th>
                    <th>
                        Name
                            <span class="fa fa-angle-down"
                                  data-ng-click="sortBy='name'; reverse =!reverse"></span>
                    </th>
                    <th>
                        Grade Level
                            <span class="fa fa-angle-down"
                                  data-ng-click="sortBy='gradeLevel'; reverse =!reverse"></span>
                    </th>
                    <th>
                        Class Grade
                            <span class="fa fa-angle-down"
                                  data-ng-click="sortBy='classGrade'; reverse =!reverse"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="studentInfo in classInfo.students | filter: search.student | orderBy: sortBy:reverse">
                    <td>{{$index+1}} </td>
                    <td>
                        <img class="img-circle" ng-src="{{studentInfo.student.user.avatar_url}}" width=46" height="46"   />
                    </td>
                    <td>{{studentInfo.student.student_id}}</td>
                    <td>{{studentInfo.student.user.first_name + ' '+studentInfo.student.user.last_name}}</td>
                    <td>{{studentInfo.student.grade_level}}</td>
                    <td>
                        <span class="pull-left"data-ng-class="toLetter(studentInfo.grade_in_class) === 'A' || toLetter(studentInfo.grade_in_class)== 'B' ? 'highlight-success': toLetter(studentInfo.grade_in_class) === 'C' ? 'highlight-warning' : 'highlight-danger'">
                            {{toLetter(studentInfo.grade_in_class)}}
                        </span>
                        <span class="pull-right"data-ng-class="toLetter(studentInfo.grade_in_class) === 'A' || toLetter(studentInfo.grade_in_class)== 'B' ? 'highlight-success': toLetter(studentInfo.grade_in_class) === 'C' ? 'highlight-warning' : 'highlight-danger'">
                            {{studentInfo.grade_in_class | number:2}}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-ng-click="closeModal()" class="btn btn-danger">Close</button>
</div>
