<div class="modal-header">
    <h3 class="text-center">Lets Create Your Classes!</h3>
</div>
<form name="userForm" data-ng-submit="submitForm(userForm.$valid)" novalidate>
    <div class="modal-body">
        <p data-ng-hide="firstTime" class="text-center" style="font-size: 18px">
            Good News, you won't have to add students! <br>
            They will add themselves to your course, after they download EasyGrade App in their phone!
        </p>
        <br><br>

        <!--Class Basic Info Begins-->
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="form-group col-sm-5 col-md-offset-1">
                    <label for="nameClass"> Class Name: </label>
                    <input type="text" class="form-control" id="nameClass" data-ng-model="newClass.className">
                </div>
                <div class="form-group col-sm-3 col-md-offset-2"
                     data-ng-class="newClass.className ||firstTime ? 'ng-show' :'ng-hide' ">
                    <label for="period"> Class Period: </label>
                    <select class="form-control" name="period" id="period" data-ng-options="period as period.value for
            period in periods" data-ng-model="newClass.period">
                    </select>
                </div>
            </div>
        </div>
        <br><br>
        <!--Class Basic Info Ends-->


        <!--Class Grade Breakdown Begins-->
        <div data-ng-class="newClass.period || firstTime? 'ng-show' : 'ng-hide'">
            <div>
                <p data-ng-hide="firstTime" class="text-center" style="font-size: 18px">
                    Set your grade components and their respective weight!<br>
                    You can follow our default set-up of : <br>
                    Tests, Quizzes, Homework and Final exam. <br>
                    Or you can create your own components. <br>
                    In both, use the range slider to set the percentage weight of each rule!
                </p>
            </div>
            <br>

            <!--GradeBreakDown Options Starts-->
            <div class="row text-center">
                <label class="ui-radio"><input name="gradeBreakdown" type="radio" data-ng-model="breakdown"
                                               data-ng-change="resetBreakdown()" value="default">
                    <span>Default</span></label>
                <label class="ui-radio"><input name="gradeBreakdown" type="radio" data-ng-model="breakdown"
                                               data-ng-change="resetBreakdown()" value="custom">
                    <span>Custom</span></label>
            </div>
            <br>
            <!--GradeBreakdown Options Ends-->

            <!--Default GradeBreakdown Starts-->
            <div data-ng-if="breakdown =='default'">
                <br>
                <div class="row">
                    <div class="text-center col-sm-4 col-sm-offset-4">
                        <p data-ng-class="componentsSum === 100 ? 'bg-success': 'bg-danger'"
                           style="font-size: 18px; border-radius: 7px">{{componentsSum}}
                        </p>
                        <br>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <p data-ng-show=" componentsSum < 100" class=" bg-danger"
                           style="font-size: 18px; margin-bottom:0px; border-radius: 7px">
                            Composition Sum is LESS than 100%
                        </p>
                        <p data-ng-show=" componentsSum > 100" class="bg-danger"
                           style="font-size: 18px; margin-bottom:0px; border-radius: 7px ">
                            Composition Sum is MORE than 100%
                        </p>
                        <br>
                    </div>
                    <div data-ng-repeat="component in defaultComponents track by $index">
                        <div data-ng-class="$even ?'col-sm-4 col-sm-offset-1': 'col-sm-4 col-sm-offset-2'">
                            <h4 class="text-center">{{component}}</h4>
                            <p style="border-radius: 7px" class="col-sm-4 col-sm-offset-4 bg-primary text-center">
                                {{newClass.gradeBreakdown[component]}}%</p>
                            <input data-ng-model="newClass.gradeBreakdown[component]" type="number"
                                   ui-range-slider
                                   data-slider-min="0"
                                   data-slider-max="100"
                                   data-slider-step="1"
                                   data-slider-orientation="horizontal"
                                   data-slider-value="0"
                                   data-slider-selection="before">
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <!--Default GradeBreakdown Ends-->

            <!--Custom GradeBreakDown Starts-->
            <div data-ng-if="breakdown =='custom'">
                <br>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-3">
                        <input type="text" class="form-control" id="componentName"
                               placeholder="Enter Component Name" data-ng-model="input.componentName">
                    </div>
                    <div>
                        <input type="button" class="col-sm-2 btn btn-primary text-center" value="Add Component"
                               data-ng-click="addComponent(input)">
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <table class="table table-hover table-responsive table-striped">
                            <thead>
                            <tr>
                                <th>Component Name</th>
                                <th>Remove</th>
                            </tr>
                            <tr data-ng-repeat="component in potentialComponents track by $index">
                                <td>{{component}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger"
                                            data-ng-click="removeComponent($index,component.name)">
                                        <span class="fa fa-times"></span>
                                    </button>
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="text-center col-sm-4 col-sm-offset-4">
                        <p data-ng-class="componentsSum === 100 ? 'bg-success': 'bg-danger'"
                           style="font-size: 18px; border-radius: 7px">{{componentsSum}}
                        </p>
                        <br>
                    </div>
                    <br>
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <p data-ng-show=" componentsSum < 100" class=" bg-warning"
                           style="font-size: 18px; margin-bottom:0px; border-radius: 7px">
                            Composition Sum is LESS than 100%
                        </p>
                        <p data-ng-show=" componentsSum > 100" class="bg-warning"
                           style="font-size: 18px; margin-bottom:0px; border-radius: 7px ">
                            Composition Sum is MORE than 100%
                        </p>
                        <br>
                    </div>
                    <div data-ng-repeat=" component in potentialComponents track by $index">
                        <div data-ng-class="$last && $even ?'col-sm-4 col-sm-offset-4': $even ?'col-sm-4 col-sm-offset-1': 'col-sm-4 col-sm-offset-2'">
                            <h4 class="text-center">{{component}}</h4>
                            <p style="border-radius: 7px" class="col-sm-4 col-sm-offset-4 bg-primary text-center">
                                {{newClass.gradeBreakdown[component]}}%</p>
                            <input data-ng-model="newClass.gradeBreakdown[component]" type="number"
                                   ui-range-slider
                                   data-slider-min="0"
                                   data-slider-max="100"
                                   data-slider-step="1"
                                   data-slider-orientation="horizontal"
                                   data-slider-value="0"
                                   data-slider-selection="before">
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
            <!--Custom GradeBreakDown Ends-->
        </div>
        <br><br>
        <!--Class Grade Breakdown Ends-->

        <!--Class Grade Scale Begins-->
        <div data-ng-class="newClass.gradeBreakdown.Final > 0 || firstTime || potentialComponents.length >= 2? 'ng-show': 'ng-hide' ">
            <div>
                <p data-ng-hide="firstTime" class="text-center" style="font-size: 18px">
                    Set your grade scale rules!
                    <br><br>
                    You can follow our default set-up of : <br>
                    A: 90-100%, B: 80-89%, C: 70-79%, D: 60-69% <br>
                    anything below is an F :(
                    Or you can create your own rules. Just use the range slider to set the percentage of each.</p>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <h4 class="text-center">A</h4>
                    <input type="number" range="newClass.gradeScale.aScale"
                           ui-range-slider
                           data-slider-min="80"
                           data-slider-max="100"
                           data-slider-step="1"
                           data-slider-orientation="horizontal"
                           data-slider-value="[90,100]"
                           data-slider-selection="before"
                           data-slider-tooltip="show"
                           data-slider-handle="round">
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    <h4 class="text-center">B</h4>
                    <input range="newClass.gradeScale.bScale" type="number"
                           ui-range-slider
                           data-slider-min="70"
                           data-slider-max="100"
                           data-slider-step="1"
                           data-slider-orientation="horizontal"
                           data-slider-value="[80,89]"
                           data-slider-selection="before"
                           data-slider-tooltip="show"
                           data-slider-handle="round">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <h4 class="text-center">C</h4>
                    <input range="newClass.gradeScale.cScale" type="number"
                           ui-range-slider
                           data-slider-min="60"
                           data-slider-max="100"
                           data-slider-step="1"
                           data-slider-orientation="horizontal"
                           data-slider-value="[70,79]"
                           data-slider-selection="before"
                           data-slider-tooltip="show"
                           data-slider-handle="round">
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    <h4 class="text-center">D</h4>
                    <input range="newClass.gradeScale.dScale" type="number"
                           ui-range-slider
                           data-slider-min="50"
                           data-slider-max="100"
                           data-slider-step="1"
                           data-slider-orientation="horizontal"
                           data-slider-value="[60,69]"
                           data-slider-selection="before"
                           data-slider-tooltip="show"
                           data-slider-handle="round">
                </div>
            </div>
        </div>
        <br><br><br>
        <!--Class Grade Scale Ends-->

        <!--Add Class Button-->
        <input type="button" class="btn btn-primary col-sm-6 col-lg-offset-3" value="Add Class"
               data-ng-class="newClass.gradeBreakdown.Final > 0 || firstTime || potentialComponents.length >= 2? 'ng-show': 'ng-hide'"
               data-ng-click="checkValidity()">
        <br><br><br>
        <!--Ad Class Button Ends-->

        <div class="row">
            <!--Added Classes Table- Begins-->
            <div class="text-center col-sm-10 col-sm-offset-1">
                <table data-ng-hide="!firstTime" class="table table-hover table-responsive table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Class Name</th>
                        <th class="text-center">Period</th>
                        <th class="text-center">Grade Breakdown</th>
                        <th class="text-center">Grade Scale</th>
                        <th class="text-center">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="classes in addedClasses track by $index">
                        <td>{{classes.className}}</td>
                        <td>{{classes.classPeriod}}</td>
                        <td><input type="button" class="btn btn-primary" value="G Breakdown"
                                   popover="Exam: {{classes.gradeBreakdown.exams}}%{{'&nbsp;'}}
                               Quizzes: {{classes.gradeBreakdown.quizzes}}%{{'&nbsp;'}}
                               Homework: {{classes.gradeBreakdown.homework}}%{{'&nbsp;'}}
                               Final: {{classes.gradeBreakdown.final}}%"
                                   popover-append-to-body="false"
                                   popover-trigger="mouseenter"></td>
                        <td><input type="button" class="btn btn-primary" value="G Scale"
                                   popover="A: {{classes.gradeScale.aScale}}%{{'&nbsp;'}}
                               B: {{classes.gradeScale.bScale}}%{{'&nbsp;'}}
                               C: {{classes.gradeScale.cScale}}%{{'&nbsp;'}}
                               D: {{classes.gradeScale.dScale}}"
                                   popover-append-to-body="false"
                                   popover-trigger="mouseenter"></td>
                        <td>
                            <button type="button" class="btn btn-danger" value="X"
                                    data-ng-click="removeRow($index, classes.period)">
                                <span class="fa fa-times"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--Added Classes Table Ends-->
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-ng-disabled="userForm.$invalid">Submit</button>
    </div>
</form>
