<div class="modal-header">
    <div class="row">
        <div class=" text-center col-sm-6 col-sm-offset-3">
            <h4><span class="highlight">Review Master Sheet Grading Results</span></h4>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-dynamic">
                <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="item in gradedStudentAssignments track by item.id">
                    <td>{{item.user.first_name}}, {{item.user.last_name}}</td>
                    <td>
                        <input class="input-info form-control" data-ng-change="changeAssignmentScore(item)"
                               type="number" min="0" max="1000" data-ng-model="item.score" >
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-ng-click="$dismiss()" class="btn btn-danger">Close</button>
</div>