<div class="modal-header">
    <div class="row">
        <div class=" text-center col-sm-6 col-sm-offset-3">
            <h2>Period: {{classInfo.period}} | Class: {{classInfo.name}}</h2>
        </div>
    </div>
</div>
<div class="modal-body table-responsive" style="max-height: calc(100vh - 200px);
    overflow-y: auto">
    <div class="row">
        <h4 class="text-center"><span class="highlight">Update or Add Scores</span></h4>
        <br>
        <div class="col-sm-6 col-sm-offset-1">
            <form>
                <input type="text"
                       placeholder="Search Student..."
                       class="form-control"
                       data-ng-model="search.student"
                >
            </form>
            <br>
        </div>

        <div class="col-sm-10 col-sm-offset-1">
            <table id="scoreSheet" class="table table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <th>
                        ID
                            <span class="fa fa-angle-down"
                                  data-ng-click="sortBy='id'; reverse =!reverse"></span>
                    </th>
                    <th>
                        Name
                            <span class="fa fa-angle-down"
                                  data-ng-click="sortBy='name'; reverse =!reverse"></span>
                    </th>
                    <th>
                        Class Grade
                            <span class="fa fa-angle-down"
                                  data-ng-click="sortBy='classGrade'; reverse =!reverse"></span>
                    </th>
                    <th data-ng-repeat="ass in classInfo.students[0].student.student_assignments">
                        {{ass.teacher_assignment.assignment.name}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="studentInfo in classInfo.students | filter: search.student | orderBy: sortBy:reverse">
                    <td style="white-space: nowrap">{{studentInfo.student.student_id}}</td>
                    <td style="white-space: nowrap">{{studentInfo.student.user.first_name + '
                        '+studentInfo.student.user.last_name}}
                    </td>
                    <td style="white-space: nowrap">
                        <span
                            data-ng-class="studentInfo.grade_in_class > 80 ? 'highlight-success': studentInfo.grade_in_class > 70 ? 'highlight-warning' : 'highlight-danger'">
                            {{studentInfo.grade_in_class | number:2}}%
                        </span>
                    </td>
                    <td data-ng-repeat="ass in studentInfo.student.student_assignments">
                        <input type="number" value="0" data-ng-model="ass.score"
                               data-ng-change="changeAssignmentScore(ass)">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-ng-click="$dismiss()" class="btn btn-danger">Close</button>
</div>
