<div class="page">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <section class="panel panel-default table-dynamic">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> My
                        Documents</strong>
                    </div>
                    <div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-1">
                                <form>
                                    <input type="text"
                                            placeholder="Search for Document..."
                                            class="form-control"
                                            data-ng-model="searchDocs"
                                            typeahead="doc as doc.file_name for doc in documents | filter:$viewValue | limitTo:8">
                                </form>
                            </div>
                            <div class="col-sm-5">
                                <input data-ng-click="showAllDocs()" type="button" class="btn btn-primary"
                                       value="{{buttonName}}">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <table style="width: 100%"
                                   class="table  table-sm table-bordered table-responsive table-hover">
                                <thead>
                                <tr>
                                    <th style="width:35%">Document Name
                                        <span class="fa fa-angle-up"
                                              data-ng-click="sortBy='name'; reverse =!reverse"></span>
                                    </th>
                                    <th style="width:20%">
                                        Type
                                        <span class="fa fa-angle-up"
                                              data-ng-click="sortBy='type'; reverse =!reverse"></span>
                                    </th>
                                    <th style="width:20%">
                                        Points
                                        <span class="fa fa-angle-up"
                                              data-ng-click="sortBy='points'; reverse =!reverse"></span>
                                    </th>
                                    <th style="width:10%">
                                        Print
                                    </th>
                                    <th style="width:15%">
                                        Edit
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="docs in documents | filter: searchDocs | limitTo : viewLimit | orderBy: sortBy:reverse">
                                    <td>
                                       <span editable-text="docs.file_name" e-name="name" e-form="rowform">
                                           {{docs.file_name}}</span>
                                    </td>
                                    <td>
                                        <span editable-select="docs.assignment_categories.name" e-name="type"
                                              e-form="rowform" e-ng-options="doc as doc for doc in fileTypes"
                                              data-ng-class="docs.type == 'Test'?'highlightTest' : docs.type =='Quiz'?'highlightQuizzes' : 'highlightHomework'">
                                            {{docs.assignment_categories.name}}</span>
                                    </td>
                                    <td>
                                        <span editable-text="docs.points" e-name="points" e-form="rowform">
                                            {{docs.points}}</span>
                                    </td>
                                    <td><a class="btn btn-success btn-xs " href="{{ api + '/files/'+ docs.id+'?stamped=true' }}"
                                           target="__blank"><span class="fa fa-print"></span></a></td>
                                    <td style="white-space: nowrap">
                                        <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)"
                                              ng-show="rowform.$visible" class="form-buttons form-inline"
                                              shown="inserted == docs">
                                            <button type="submit" ng-disabled="rowform.$waiting"
                                                    class="btn btn-warning btn-xs">
                                                <span class="fa fa-check"></span>
                                            </button>
                                            <button type="button" ng-disabled="rowform.$waiting"
                                                    ng-click="rowform.$cancel()" class="btn btn-danger btn-xs">
                                                <span class="fa fa-times"></span>
                                            </button>
                                        </form>
                                        <div class="buttons" data-ng-show="!rowform.$visible">
                                            <button class="btn btn-warning btn-xs" data-ng-click="rowform.$show()"
                                                    ng-hide="rowform.$visible"><span class="fa fa-pencil"></span>
                                            </button>
                                            <button class="btn btn-danger btn-xs" data-ng-click="removeUser($index)"><span
                                                    class="fa fa-trash"></span></button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div collapse="isCollapsed" class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Choose an
                    Action</strong></div>
                <div class="text-center panel-body">
                    <label class="ui-radio"><input name="selectAction" type="radio" data-ng-model="action"
                                                   value="Add">
                        <span>Add Documents</span></label>
                    <label class="ui-radio"><input name="selectAction" type="radio" data-ng-model="action"
                                                   value="Grade">
                        <span>Grade Documents</span></label>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div data-ng-show="action == 'Add'" class="panel panel-default">
                <div class="panel-heading"><strong><span class="fa fa-folder-open"></span> Add Documents
                </strong></div>
                <div class="panel-body">
                    <div class=" text-center">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center" data-ng-repeat="component in components"
                                    style="padding-bottom: 0px">
                                    <label class="ui-radio"><input name="pointsFor" type="radio"
                                                                   data-ng-model="dropZone.docType"
                                                                   value="{{component}}">
                                        <span>{{component}}</span></label>
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div data-ng-hide="dropZone.docType == ''">
                        <section class="panel-box">
                            <div class="panel-item">
                                <div class="dropzone"
                                     method="post"
                                     enctype="multipart/form-data"
                                     ng-dropzone
                                     dropzone="dropzone"
                                     dropzone-config="dropzoneConfig"
                                     event-handlers="{ 'addedfile': dzAddedFile, 'error': dzError, 'removedfile': dzrRemovedFile, 'queuecomplete': dzCompleted }">
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div data-ng-show="action == 'Grade'" class="panel panel-default">
                <div class="panel-heading"><strong><span class="fa fa-pencil-square-o"></span> Grade Documents
                </strong></div>
                <div class="panel-body">
                    <div>
                        <div class="text-center">
                            <p style="display: inline" class="text-center highlight">Drop Your Graded Docs Here!</p>
                        </div>
                        <br>
                        <section class="panel-box">
                            <div class="panel-item">
                                <div class="dropzone"
                                     method="post"
                                     enctype="multipart/form-data"
                                     ng-dropzone
                                     dropzone="dropzone"
                                     dropzone-config="dropzoneConfig"
                                     event-handlers="{ 'addedfile': dzAddedFile, 'error': dzError, 'removedfile': dz.removedfile }">
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .dropzone {
        min-height: 110px;
        min-width: 175px;
    }

    .panel-box .panel-item {
        padding: 0px;
    }
</style>
