<div class="page">
    <div class="row animated fadeInRight" collapse="isCollapsed" >
        <!--Classes Table-->
        <div class="col-sm-12">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <strong><span class="fa fa-building"></span> My Classes</strong>
                    <span class="pull-right btn btn-default btn-sm fa fa-refresh" data-ng-click="getClasses()"></span>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-responsive">
                            <thead>
                            <tr>

                                <th class="text-center">
                                    Period
                                    <span class="fa fa-angle-down"
                                          data-ng-click="sortBy='period'; reverse =!reverse"></span>
                                </th>
                                <th class="text-center">
                                    Name
                                    <span class="fa fa-angle-down"
                                          data-ng-click="sortBy='name'; reverse =!reverse"></span>
                                </th>
                                <th class="text-center">
                                    # Students
                                    <span class="fa fa-angle-down"
                                          data-ng-click="sortBy='classSize'; reverse =!reverse"></span>

                                </th>
                                <th class="text-center">
                                    Avg Grade
                                    <span class="fa fa-angle-down"
                                          data-ng-click="sortBy='avgGrade'; reverse =!reverse"></span>
                                </th>
                                <th class="text-center">Student Grades</th>
                                <th class="text-center">Spread-Sheet</th>
                                <th class="text-center">Set-Up</th>
                                <th class="text-center">Class Code</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="animated fadeInUp text-center"
                                data-ng-repeat="classs in classesInfo | filter: search.Class | orderBy: sortBy:reverse">

                                <td>{{classs.period}}</td>
                                <td>{{classs.name}}</td>
                                <td>{{classs.students.length}}</td>
                                <td>
                                    <span
                                        data-ng-class="toLetter(classesGrades[$index].avgs.grade,classs)  == 'A' || toLetter(classesGrades[$index].avgs.grade,classs)  == 'B' ? 'highlight-success': toLetter(classesGrades[$index].avgs.grade, classs)  == 'C' ? 'highlight-warning' : 'highlight-danger'">
                                        {{toLetter(classesGrades[$index].avgs.grade,classs) }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <button data-ng-click="openClassStudents(classs,$index, $event)" type="button"
                                            class="btn btn-primary btn-xs"><span class="fa fa-users"></span>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-success btn-xs"
                                            type="button"
                                            ng-click="classSelected(classs)">
                                        <span class="fa fa-file-excel-o"></span>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button data-ng-click="openClassSetUp(classs, $event)" type="button"
                                            class="btn btn-warning btn-xs"><span class="fa fa-cog"></span>
                                    </button>
                                </td>
                                <td>{{classs.id}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <!--Classes Table Ends-->
    </div>
    <div class="row" ng-show="isCollapsed">
        <div class="col-sm-12">
            <section class=" panel panel-secondary">
                <div class="panel-heading">
                    <strong><span class="fa fa-pencil-square"></span> Score Sheet</strong>
                    <button style="float: right;" class="btn btn-danger" type="button" ng-click="closeScoreSheet()">{{buttonName}}</button>
                </div>
                <div class="animated fadeInLeft panel-body">
                    <div class="text-center">
                        <h4 style="display: inline" class="highlight">{{selected.name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 table-responsive" style="max-height: calc(100vh - 270px);overflow-y: auto">
                        <table id="scoreSheet" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>
                                    ID
                            <span class="fa fa-angle-down"
                                  data-ng-click="sortBy='id'; reverse =!reverse"></span>
                                </th>
                                <th>
                                    Name
                            <span class="fa fa-angle-down"
                                  data-ng-click="sortBy='name'; reverse =!reverse"></span>
                                </th>
                                <th>
                                    Class Grade
                            <span class="fa fa-angle-down"
                                  data-ng-click="sortBy='classGrade'; reverse =!reverse"></span>
                                </th>
                                <th data-ng-repeat="ass in selected.students[0].student.student_assignments">
                                    {{ass.teacher_assignment.assignment.name}}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="studentInfo in selected.students | filter: search.student | orderBy: sortBy:reverse">
                                <td>{{studentInfo.student.student_id}}</td>
                                <td>{{studentInfo.student.user.first_name + '
                                    '+studentInfo.student.user.last_name}}
                                </td>
                                <td>
                        <span
                            data-ng-class="studentInfo.grade_in_class > 80 ? 'highlight-success': studentInfo.grade_in_class > 70 ? 'highlight-warning' : 'highlight-danger'">
                            {{studentInfo.grade_in_class | number:2}}%
                        </span>
                                </td>
                                <td data-ng-repeat="ass in studentInfo.student.student_assignments">
                                    <input type="number" value="0" data-ng-model="ass.score"
                                           data-ng-change="changeAssignmentScore(ass)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!--<style>-->
    <!--tr.activeRow {-->
        <!--background-color: rgba(103, 78, 158, .3) !important;-->
    <!--}-->

    <!--h3.activeRow {-->
        <!--background-color: rgba(103, 78, 158, .3) !important;-->
    <!--}-->
<!--</style>-->
