<ul id="nav"
    data-ng-controller="NavCtrl"
    data-collapse-nav
    data-slim-scroll
    data-highlight-active>
    <li><a href="#/user_board"> <i class="fa fa-dashboard"></i><span data-i18n="Robert's Board"></span> </a></li>
    <li><a href="#/manage_classes"><i class="fa fa-table"></i><span data-i18n="Robert's Classes"></span></a></li>
    <li><a href="#/getting_started"><i class="glyphicon glyphicon-tasks"></i><span data-i18n="Start"></span></a></li>
    <li><a href="#/easy_box"><i class="fa fa-square"></i><span data-i18n="Mark's Box"></span></a></li>
</ul>